# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Virtual Environment
sls/         # Eğer sanal ortamınız bu klasördeyse, onu yok sayın
venv/
ENV/

# Logs
*.log

# IDE
.idea/
.vscode/
*.swp
*.swo

# Database
*.sqlite3
